<section id="home">
    <div class="tp-fullscreen-container revolution">
      <div class="tp-fullscreen">
        <ul>
        <li data-transition="fade">
          <%= image_tag "images_template/art/slider-bg1.jpg", :alt => "", :data => {:bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat"} %>
            <h1 class="tp-caption large sfr" data-x="30" data-y="263" data-speed="900" data-start="800" data-easing="Sine.easeOut">hello! this is lydia</h1>
            <div class="tp-caption medium sfr" data-x="30" data-y="348" data-speed="900" data-start="1500" data-easing="Sine.easeOut">most completed photography & <br />
              magazine template with various options</div>
          </li>
          <li data-transition="fade">
          <%= image_tag "images_template/art/slider-bg2.jpg", :alt => "", :data => {:bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat"} %>
            <div class="tp-caption large text-center sfl" data-x="center" data-y="283" data-speed="900" data-start="800" data-easing="Sine.easeOut">built for creatives to showcase</div>
            <div class="tp-caption large text-center sfr" data-x="center" data-y="363" data-speed="900" data-start="1500" data-easing="Sine.easeOut">their portfolio beautifully</div>
          </li>
          <li data-transition="fade">
          <%= image_tag "images_template/art/slider-bg3.jpg", :alt => "", :data => {:bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat"} %>
            <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800" data-easing="Sine.easeOut">free updates & premium support</div>
            <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900" data-start="1500" data-easing="Sine.easeOut">you will have access to all updates and free support</div>
          </li>
          <li data-transition="fade">
          <%= image_tag "video/nyc.jpg", :alt => "", :data => {:bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat"} %>
          <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">html5 self hosted video support</div>
          <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900" data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">for better visualization of your company</div>
          <div class="tp-caption tp-fade fadeout fullscreenvideo"
      data-x="0"
      data-y="0"
      data-speed="1000"
      data-start="1100"
      data-easing="Power4.easeOut"
      data-elementdelay="0.01"
      data-endelementdelay="0.1"
      data-endspeed="1500"
      data-endeasing="Power4.easeIn"
      data-autoplay="true"
      data-autoplayonlyfirsttime="false"
      data-nextslideatend="true"
        data-dottedoverlay="twoxtwo"
        data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 1;">
            <video class="" preload="none" width="100%" height="100%"
poster='style/video/nyc.jpg'>
              <source src='style/video/nyc.mp4' type='video/mp4' />
              <source src='style/video/nyc.webm' type='video/webm' />
            </video>
          </div>
        </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
    </div>
  </section>

<div class="light-wrapper">
    <div class="container inner2 bp0">
      <div class="thin">
        <div class="headline text-center">
          <h2>hello! I'm lydia doe, a freelance photographer.</h2>
          <p class="lead">based in london, I specialize in fashion, wedding, food & drink photography.</p>
        </div>
        <!-- /.headline -->

      </div>
      <!-- /.thin -->
    </div>
    <!-- /.container -->
    <div class="divide30"></div>
    <div class="cbp-panel">
      <div id="js-filters-full-width" class="cbp-filter-container text-center">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div>
        <div data-filter=".print" class="cbp-filter-item"> Print </div>
        <div data-filter=".web" class="cbp-filter-item"> Web Design </div>
        <div data-filter=".logo" class="cbp-filter-item"> Logo </div>
        <div data-filter=".natural" class="cbp-filter-item"> natural </div>
        <div data-filter=".motion" class="cbp-filter-item"> Motion </div>
      </div>
      <div id="js-grid-full-width" class="cbp">
        <div class="cbp-item print motion natural"> <a href="" class="cbp-caption">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf1.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Amet Fermentum Egestas</div>
              </div>
            </div>
          </div>
          </a> </div>

        <div class="cbp-item print natural"> <a href="ajax/project2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf2.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Parturient Bibendum</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item web logo"> <a href="ajax/project3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf3.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Justo Dapibus Vehicula</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item web"> <a href="ajax/project4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf4.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Dolor Fermentum</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print logo"> <a href="ajax/project5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf5.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Ipsum Ullamcorper</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print web"> <a href="ajax/project1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf6.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Ipsum Cursus</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item motion logo"> <a href="ajax/project2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf7.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Malesuada Consectetur</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print logo"> <a href="ajax/project3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf8.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Porta Cras Aenean</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item logo web"> <a href="ajax/project4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf9.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Vestibulum Bibendum</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print web"> <a href="ajax/project5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf10.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Condimentum Ligula</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>

        <!--/.cbp-item -->

        <div class="cbp-item print"> <a href="ajax/project1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf11.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Pellentesque Bibendum</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>

        <!--/.cbp-item -->

        <div class="cbp-item print logo"> <a href="ajax/project2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf12.jpg" alt="" /> <%= image_tag "images_template/art/pf1.jpg" %> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Ullamcorper Mollis</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print logo"> <a href="ajax/project3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf13.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Ridiculus Quam</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->
        <div class="cbp-item logo web"> <a href="ajax/project4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf14.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Fermentum Sem Mollis</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print web"> <a href="ajax/project5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf15.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Cras Euismod Risus</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>

        <!--/.cbp-item -->

        <div class="cbp-item print"> <a href="ajax/project1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf16.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Ullamcorper Sem</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>

        <!--/.cbp-item -->

        <div class="cbp-item logo web"> <a href="ajax/project2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf17.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Justo Etiam</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print web"> <a href="ajax/project3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf18.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Porta Parturient</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>

        <!--/.cbp-item -->

        <div class="cbp-item print"> <a href="ajax/project4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf19.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Mollis Fusce Venenatis</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>

        <!--/.cbp-item -->

        <div class="cbp-item print logo"> <a href="ajax/project5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf20.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Vestibulum Tristique</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print logo"> <a href="ajax/project1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf21.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Purus Justo Magna</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->
        <div class="cbp-item logo web"> <a href="ajax/project2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf22.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Tellus Elit Condimentum</div>
              </div>
            </div>
          </div>
          <!--/.cbp-caption-activeWrap -->
          </a> </div>
        <!--/.cbp-item -->

        <div class="cbp-item print web"> <a href="ajax/project3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf23.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Tristique Ridiculus</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>

        <!--/.cbp-item -->

        <div class="cbp-item print"> <a href="ajax/project4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="style/images/art/pf24.jpg" alt="" /> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Sollicitudin Ornare</div>
              </div>
            </div>
          </div>

          <!--/.cbp-caption-activeWrap -->

          </a> </div>
      </div>
    </div>
  </div>

  <%= render "layouts/footer" %>
